.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  text-align: left;
  border-collapse: collapse;
  margin: 2rem 0;
  width: 100%;

  tr {
    border: none;
    border-bottom: 1px solid #ddd;

    th, td {
      padding: .5rem 1rem;
      border: none;
      border-right: 1px solid #ddd;

      &:last-child {
        border-right: none;
      }
    }

    &.clickable-table-row {
      cursor: pointer;
      &:hover {
       background-color: #e9e9e9; 
      }
    }

    &.inactive-table-row {
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }

  tbody tr:last-child {
    border-bottom: none;
  }
}

.sortable-column-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  
  .sort-button {
    padding: 10px 6px;
  }
}